AI Resume Screener.json
{
  "name": "AI Resume Screener",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        16
      ],
      "id": "e4c0597d-7195-4978-ad0a-100cefd758b1",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "HyyRrc5DgJKWGPJQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "name": "={{ $json.headers.subject }} Resume",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ORsBRxkpdyYk7v-fM9SCO3U1E8YLxUQf",
          "mode": "list",
          "cachedResultName": "Resumes",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ORsBRxkpdyYk7v-fM9SCO3U1E8YLxUQf"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        240,
        16
      ],
      "id": "da6a5c17-10d8-4933-8389-0b4ab2f6d9e0",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zbWhjHvMqEAtNHsm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "108a9ff6-bdad-4a3a-af78-75f741bd9923"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Word File"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13d1e929-d368-4674-bd19-b0d4fc711600",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF File"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        400,
        16
      ],
      "id": "dc79b71c-c37d-45e7-9bd3-d176613a3d82",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v2/files/{{ $json.id }}/copy?convert=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        -112
      ],
      "id": "ecc98aab-5fb1-408a-9648-d0718cc933d4",
      "name": "Convert to GDocs",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zbWhjHvMqEAtNHsm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fca4e72e-d5dc-436d-86d5-4e382936b380",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        -32
      ],
      "id": "7fbae299-3097-4b98-b8d2-2d6a00e3afe8",
      "name": "Standardize Input"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "106da5tQCuavCz93Rt2-N2WJBeE5P84LPkL2okKmOgEQ",
          "mode": "list",
          "cachedResultName": "Job Title: Junior Software Engineer (Philippines-Based)",
          "cachedResultUrl": "https://docs.google.com/document/d/106da5tQCuavCz93Rt2-N2WJBeE5P84LPkL2okKmOgEQ/edit?usp=drivesdk"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1408,
        -32
      ],
      "id": "8ca7850c-cdda-46f2-881b-952c6dba87fe",
      "name": "Get Job Details",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zbWhjHvMqEAtNHsm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2160,
        208
      ],
      "id": "df1a8988-9abf-42d8-aabc-7cbc168e216a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JgNic70bU1OXecaj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Candidate's Resume:\n\n{{ $('Standardize Input').item.json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are an expert technical recruiter specializing in AI, automation, and software roles. You have been given a job description and a candidate resume. Your task is to analyze the resume in relation to the job description and provide a detailed screening report.\n\nFocus specifically on how well the candidate matches the core requirements and ideal profile outlined in the job description. Evaluate both technical skill alignment and business-context understanding. Use reasoning grounded in the actual content of the resume and job post — avoid making assumptions.\n\n## Output\nYour output should follow this exact format:\n\nCandidate Strengths:  \nList the top strengths or relevant qualifications the candidate brings to the table. Be specific.\n\nCandidate Weaknesses:\nList areas where the candidate is lacking or mismatched based on the job description.\n\nRisk Factor:\n- Assign a risk score (Low / Medium / High)  \n- Explain the worst-case scenario if this candidate is hired.\n\nReward Factor: \n- Assign a reward score (Low / Medium / High)  \n- Describe the best-case scenario — what value could this candidate unlock?  \n- Does the candidate appear to be a short-term or long-term fit?\n\nOverall Fit Rating (0–10):  \nAssign a number between 0 (terrible match) and 10 (perfect match). Do not give decimals.\n\nJustification for Rating:\nExplain clearly why this candidate received that score. Reference specific resume content and how it aligns or doesn't with the job description.\n\n## Job Description\n{{ $json.text }}\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        1808,
        -32
      ],
      "id": "bb2b272a-a940-467f-a6fa-38682ffc49b4",
      "name": "Screening Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"resume_screening_evaluation\",\n  \"description\": \"Analyzes a candidate's resume against a job description and outputs strengths, weaknesses, risk/reward assessment, and an overall fit score.\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"candidate_strengths\": {\n      \"type\": \"array\",\n      \"description\": \"A list of specific strengths or qualifications that match the job description.\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"candidate_weaknesses\": {\n      \"type\": \"array\",\n      \"description\": \"A list of areas where the candidate falls short or lacks alignment with the job requirements.\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"risk_factor\": {\n      \"type\": \"object\",\n      \"description\": \"An evaluation of the potential risks of hiring this candidate.\",\n      \"properties\": {\n        \"score\": {\n          \"type\": \"string\",\n          \"enum\": [\"Low\", \"Medium\", \"High\"],\n          \"description\": \"The risk level of hiring this candidate.\"\n        },\n        \"explanation\": {\n          \"type\": \"string\",\n          \"description\": \"A brief explanation of the worst-case scenario if the candidate is hired.\"\n        }\n      },\n      \"required\": [\"score\", \"explanation\"]\n    },\n    \"reward_factor\": {\n      \"type\": \"object\",\n      \"description\": \"An evaluation of the potential upside of hiring this candidate.\",\n      \"properties\": {\n        \"score\": {\n          \"type\": \"string\",\n          \"enum\": [\"Low\", \"Medium\", \"High\"],\n          \"description\": \"The reward level of hiring this candidate.\"\n        },\n        \"explanation\": {\n          \"type\": \"string\",\n          \"description\": \"A description of the best-case scenario and whether the candidate is a short-term or long-term fit.\"\n        }\n      },\n      \"required\": [\"score\", \"explanation\"]\n    },\n    \"overall_fit_rating\": {\n      \"type\": \"integer\",\n      \"description\": \"A rating from 0 to 10 indicating how well the candidate matches the job description.\",\n      \"minimum\": 0,\n      \"maximum\": 10\n    },\n    \"justification_for_rating\": {\n      \"type\": \"string\",\n      \"description\": \"A summary explaining why the candidate received the specific fit rating, referencing resume and job description alignment.\"\n    }\n  },\n  \"required\": [\n    \"candidate_strengths\",\n    \"candidate_weaknesses\",\n    \"risk_factor\",\n    \"reward_factor\",\n    \"overall_fit_rating\",\n    \"justification_for_rating\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2000,
        208
      ],
      "id": "7c190b17-9cdc-4a65-b3e7-bc0c885bfd12",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "text": "={{ $('Standardize Input').item.json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "first name",
              "description": "the first name of the candidate",
              "required": true
            },
            {
              "name": "last name",
              "description": "the last name of the candidate",
              "required": true
            },
            {
              "name": "email",
              "description": "the email of the candidate"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        2128,
        -32
      ],
      "id": "68985ff4-4729-427e-9c46-72c124b5ad37",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1a3U04Os-tsydOCioyoZKhH6D7IaclwCTsIUN9g6NYig",
          "mode": "list",
          "cachedResultName": "Job Applicants",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a3U04Os-tsydOCioyoZKhH6D7IaclwCTsIUN9g6NYig/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1a3U04Os-tsydOCioyoZKhH6D7IaclwCTsIUN9g6NYig/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd h:mm a') }}",
            "Resume": "={{ $('Upload file').item.json.webViewLink }}",
            "First Name": "={{ $json.output['first name'] }}",
            "Last Name": "={{ $json.output['last name'] }}",
            "Email": "={{ $json.output.email }}",
            "Strengths": "={{ $('Screening Agent').item.json.output.candidate_strengths.join(\"\\n\\n\") }}",
            "Weaknesses": "={{ $('Screening Agent').item.json.output.candidate_weaknesses.join(\"\\n\\n\") }}",
            "Risk Factor": "={{ $('Screening Agent').item.json.output.risk_factor.score }}\n\n{{ $('Screening Agent').item.json.output.risk_factor.explanation }}",
            "Reward Factor": "={{ $('Screening Agent').item.json.output.reward_factor.score }}\n\n{{ $('Screening Agent').item.json.output.reward_factor.explanation }}",
            "Overall Fit": "={{ $('Screening Agent').item.json.output.overall_fit_rating }}",
            "Justification": "={{ $('Screening Agent').item.json.output.justification_for_rating }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume",
              "displayName": "Resume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Strengths",
              "displayName": "Strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Weaknesses",
              "displayName": "Weaknesses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk Factor",
              "displayName": "Risk Factor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reward Factor",
              "displayName": "Reward Factor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Overall Fit",
              "displayName": "Overall Fit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Justification",
              "displayName": "Justification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2432,
        -32
      ],
      "id": "9cca32ae-9b6b-4493-b986-ad83dda43cc9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ny98ez23A3lqlrah",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        832,
        -112
      ],
      "id": "c7f5552b-f559-4efe-9bbe-7e17990c48b1",
      "name": "Download Docs File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zbWhjHvMqEAtNHsm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1024,
        -112
      ],
      "id": "b5602b0c-a896-4599-9f33-3e3c6710d71a",
      "name": "Extract from Docs"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        704,
        80
      ],
      "id": "6aceb826-99ac-4393-913a-6fa46470f49f",
      "name": "Download PDF File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zbWhjHvMqEAtNHsm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        944,
        80
      ],
      "id": "68e1003f-0bda-4060-ad31-6cf756f4a628",
      "name": "Extract from PDF File"
    },
    {
      "parameters": {
        "content": "Resume Collector",
        "height": 192,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        -32
      ],
      "typeVersion": 1,
      "id": "cf751972-94e4-4052-a381-077cdcbf5608",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "File Sorter",
        "height": 192,
        "width": 198,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        -32
      ],
      "typeVersion": 1,
      "id": "399e4671-31f9-4836-b325-7ac720ce55e3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "PDF",
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        64
      ],
      "typeVersion": 1,
      "id": "2e5ff55c-0b23-414f-b2d5-656390b239f1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Word -> GDocs",
        "height": 176,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        -144
      ],
      "typeVersion": 1,
      "id": "0aa3a70f-7c65-4f28-9580-add6f2854801",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "File Sorter",
        "height": 224,
        "width": 160,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        -80
      ],
      "typeVersion": 1,
      "id": "4b1e8bfb-fe5c-4e36-9eaf-90e0e31edc94",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Job Description",
        "height": 224,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        -80
      ],
      "typeVersion": 1,
      "id": "f8070b83-b2d2-43ad-9e42-112fbd6634e1",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1584,
        -32
      ],
      "id": "87a02d2e-de47-45c6-887f-46bc670feb63",
      "name": "Extract Job Description"
    },
    {
      "parameters": {
        "content": "AI Analyzer & Information Extractor",
        "height": 224,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        -80
      ],
      "typeVersion": 1,
      "id": "80f6476a-1520-49dd-ace2-2b4b74e54fd0",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "LLM & Parser",
        "height": 176,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1872,
        176
      ],
      "typeVersion": 1,
      "id": "52fe3430-4282-40a3-befd-1d6bb80508c4",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Convert to GDocs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download PDF File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to GDocs": {
      "main": [
        [
          {
            "node": "Download Docs File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize Input": {
      "main": [
        [
          {
            "node": "Get Job Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Details": {
      "main": [
        [
          {
            "node": "Extract Job Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Screening Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Screening Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Screening Agent": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Docs File": {
      "main": [
        [
          {
            "node": "Extract from Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Docs": {
      "main": [
        [
          {
            "node": "Standardize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF File": {
      "main": [
        [
          {
            "node": "Extract from PDF File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF File": {
      "main": [
        [
          {
            "node": "Standardize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Description": {
      "main": [
        [
          {
            "node": "Screening Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1906a2ae-67c8-43bf-816b-529392e3c62c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe9657fcdad7403c7a2df66b133cff5e03b560cc001c1603d516b4bcb4ec7f39"
  },
  "id": "MDqParYxJzRjDDyp",
  "tags": []
}